[data-icon] {
  font-family: "Skwirrol-Icons"; /* See @font-face declarations at bottom */
  speak: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  display: inline-block; /* So we can set its width */
  white-space: pre;      /* Turn newlines into actual newlines */
  letter-spacing: -1em;  /* Overlap icons horizontally */
  line-height: 0;        /* Overlap icons vertically */
  padding: 0.5em 0;      /* Compensate for zero line height */
  width: 1em;            /* Compensate for negative letter spacing */  font-weight: 300;      /* Weight for third layer */
}

[data-icon]:before{
    content: attr(data-icon);
    }

.fa {
    margin:5px;
}
.fa:hover {
   color:red; 
    
}

.categories {
    border:1px solid red;
}

.rightalign{
    text-align: right;
}

.tableDiv{
    display:table-row;
    position: absolute;
    width:100%;
}

.columnDivLeft{
    display:table-cell;
    width:75%;
    float:left;
}

.columnDivRight{
    display: table-cell;
    width:25%;
    float:right;
}

.box{
    border:1px solid black;
}

.borderLeft{
    border-left:2px solid blue;
}

.textAlignRight{
    text-align: right;
}

.floatRight{
    float:right;
}
